[submodule "esp32c6_car"]
	path = esp32c6_car
	url = https://github.com/lilicqyu-ship-it/esp32c6_car.git
	branch = main
[submodule "smartcar_remote"]
	path = smartcar_remote
	url = https://github.com/lilicqyu-ship-it/smartcar_remote.git
	branch = main
[submodule "tc275_car"]
	path = tc275_car
	url = https://github.com/lilicqyu-ship-it/tc275_car.git
	branch = main
[submodule "tc275_sbl"]
	path = tc275_sbl
	url = https://github.com/lilicqyu-ship-it/tc275_sbl.git
	branch = main
